.App {
  text-align: center;
  font-family: 'Libre Barcode 39', cursive;
  font-family: 'Flow Circular', cursive;
  font-family: 'Dynalight', cursive;
}

.typeDiplay {
  font-family: "electroharmonics", cursive;
}

@font-face {
  font-family: electroharmonics;
  src: url("./font/electroharmonix.ttf") format("truetype");
}
